<nav>
  <div class="nav-wrapper" style="background-color: tan">
    <a href="/" class="brand-logo">CMS Home</a>
    <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">Menu</i></a>
    <ul class="right hide-on-med-and-down">
      <li><a href="/scrape">Scrape New Articles!</a></li>
      <li><a href=#>Saved Articles</a></li>
    </ul>
    <ul class="side-nav" id="mobile-demo">
      <li><a href="/scrape">Scrape New Articles!</a></li>
      <li><a href=#>Saved Articles</a></li>
    </ul>
  </div>
</nav>
<div class="container" style="background-image: url("../public/images/climbing_bkgrd.jpg"); background-position: center center; background-repeat:  no-repeat; background-attachment: fixed; background-size: cover; background-color: #999;">
  <div class="row">
    <h3 class="col s9 m3 l4" style="background-color: tan;"><strong>Climbing Magazine Scraper</strong></h3>
  </div>
  <div class="row">
    <h2 class="flow-text col s9 m3 l4" style="background-color: tan;"><i><strong>Click Articles to make notes!</strong></i></h2>
  </div>
  <div class="row">
    <div class="col s3 m6 l12" id="wrapper">
      <div id="articles"></div>
      <div id="notes"></div>
    </div>
  </div> <!--  end of row -->
</div> <!--  end of container -->

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="./app.js"></script>
